.errorMessage {
	margin: 0.5rem;
	justify-content: center;
}

.requiredParam,
.errorMessage {
	display: flex;
	align-items: center;
	gap: 0.1rem;
}

.message {
	text-align: center;
	margin: 0.5rem;
}

.message {
	color: green;
}
