* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  object-fit: cover;
  border-radius: var(--border-radius);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}