@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap');


:root {
  --white: #fff;
  --black: #0e0e0e;

  --main-bg-color: #e9e9e9;
  --primary-color: #271bb5;

  --max-width: 1200px;

  --border-radius: 8px;

  --primary-font: 'Raleway', sans-serif;
}