<section class="projects container">
  <div class="header">
    <h2 class="sub-title">Feitos com muito carinho ... e café</h2>
    <h1 class="title">Projetos</h1>
  </div>
  <ul fxLayout="row wrap stretch" fxLayoutAlign="stretch" class="cards-list">

    <li fxFlex="50%" fxFlex.xs="100%" *ngFor="let project of projects">
      <mat-card class="card" [matBadge]="project.badgeContent" matBadgePosition="after"
        [matBadgeHidden]="!project.badge">
        <mat-card-header class="card-header">
          <mat-card-title>
            {{project.title}}
          </mat-card-title>
          <span>
            {{project.date}}
          </span>
          <mat-card-subtitle class="tecnologies">
            <span *ngFor="let tecnology of project.tecnologies">
              {{tecnology}}
            </span>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content class="description">
          <p>
            {{project.description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a [href]="project.githubLink" target="_blank" mat-icon-button [title]="'Github do projeto '+project.title"
            *ngIf="project.githubLink">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_912_7)">
                <path
                  d="M9 18.9999C4 20.4999 4 16.4999 2 15.9999M16 21.9999V18.1299C16.0375 17.6531 15.9731 17.1737 15.811 16.7237C15.6489 16.2737 15.3929 15.8634 15.06 15.5199C18.2 15.1699 21.5 13.9799 21.5 8.51994C21.4997 7.12376 20.9627 5.78114 20 4.76994C20.4559 3.54844 20.4236 2.19829 19.91 0.999938C19.91 0.999938 18.73 0.649938 16 2.47994C13.708 1.85876 11.292 1.85876 9 2.47994C6.27 0.649938 5.09 0.999938 5.09 0.999938C4.57638 2.19829 4.54414 3.54844 5 4.76994C4.03013 5.78864 3.49252 7.1434 3.5 8.54994C3.5 13.9699 6.8 15.1599 9.94 15.5499C9.611 15.8899 9.35726 16.2953 9.19531 16.7399C9.03335 17.1844 8.96681 17.658 9 18.1299V21.9999"
                  stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              </g>
            </svg>

          </a>
          <a [href]="project.externalLink" target="_blank" mat-icon-button [title]="'Projeto '+ project.title"
            *ngIf="project.externalLink">
            <svg width="26" height="27" viewBox="0 0 26 27" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M21 14.4583V22.4583C21 23.1656 20.719 23.8439 20.219 24.344C19.7189 24.844 19.0406 25.125 18.3333 25.125H3.66667C2.95942 25.125 2.28115 24.844 1.78105 24.344C1.28095 23.8439 1 23.1656 1 22.4583V7.79167C1 7.08442 1.28095 6.40615 1.78105 5.90605C2.28115 5.40595 2.95942 5.125 3.66667 5.125H11.6667"
                stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M17 1.125H25V9.125" stroke="black" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
              <path d="M10.3335 15.7917L25.0002 1.125" stroke="black" stroke-width="2" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
          </a>
          <a [routerLink]="['/projects/'+project.testLink]" mat-flat-button color="primary"
            *ngIf="project.readyToTest">Teste
            agora!</a>

        </mat-card-actions>
      </mat-card>
    </li>
  </ul>
</section>