<div class="footer-wrapper">
  <footer class="footer-content container" fxLayout="row wrap" fxLayoutAlign="space-between stretch">
    <div>
      <h1>Desafio Frontend</h1>
    </div>

    <div>
      <h2>Contato</h2>
      <ul>
        <li *ngIf="info; else emailPadrao">
          <a [href]="'mailto:' + info.contact.email + '?subject=' + info.subject_matter + ' &body=' + info.comment">
            {{info.contact.email}}
          </a>
        </li>
        <ng-template #emailPadrao>
          <li>
            <span>qualquerEmail@email.com</span>
          </li>
        </ng-template>
        <li *ngIf="info; else telPadrao">
          <span>
            {{info.contact.tel}}
          </span>
        </li>
        <ng-template #telPadrao>
          <li>
            <span>(00) 00000-0000</span>
          </li>
        </ng-template>
      </ul>
    </div>
  </footer>
</div>